body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.profile-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card .card-body {
    padding: 30px;
}

.profile-card .card-footer {
    background-color: #eb0808;
    padding: 20px;
    border-top: none;
}
.profile-card .card-title {
    font-size: 1.5rem;
    margin-top: 15px;
}

.profile-card .card-text i {
    margin-right: 10px;
}

.profile-card .badge {
    font-size: 0.9rem;
    padding: 5px 10px;
}

.main-content {
    background-color: #e9ecef;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #ece2da;
}

.intro-section {
    background-color: #344e41;
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    text-align: center;
}

h5 {
    font-size: 1.25rem;
    font-weight: normal;
}

.section-title {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.professional-summary ul,
.experience ul {
    list-style-type: none;
    padding-left: 0;
}

.professional-summary ul li::before,
.experience ul li::before {
    content: "\2022";
    color: #000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
p.custom-font {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 500; /* Medium weight */
    font-size: 16px; /* Adjust as needed */
    line-height: 1.5; /* Adjust for spacing */
    color: #000; /* Adjust color if needed */
}
.fa-asterisk {
    font-size: 24px; /* Adjust the size as needed */
    color: #000; /* Adjust the color if needed */
}